<app-navbar>
  <div class="flex">
    <li class="item2 text-[#24221E] border-[#24221E]">
      <a href="/login">Login </a>
    </li>
    <li class="item2 text-[#FFFFFF] border-[#871E35] bg-[#871E35]">
      <a routerLink="/register">Register Now</a>
    </li>
  </div></app-navbar
>
<div class="relative contain">
  <img class="img1" src="/assets/Breadcrumb.png" alt="work image" />
  <div class="absolute inset-0 imgcolor"></div>
  <h1 class="absolute para">My Account</h1>
  <ul class="list flex gap-[30px]">
    <li><a href="#">Home</a></li>
    <li class="acc"><a href="#">Account</a></li>
  </ul>
  <img
    class="img2"
    src="/assets/Breadcrumb_vector.svg"
    alt="transfer money image"
  />
</div>

<div class="container2">
  <p class="first_para">No Profile</p>
  <img class="img404" src="/assets/404.svg" alt="Not Found Image" />
  <p class="p2">
    A profile is required to perform this action. Please log in or create an
    account.
  </p>
  <a routerLink="/register" class="text-center rgsb">Register Now</a>
</div>

<div class="footer">
  <p class="style4 pt-6 mb-4">speedo transfer</p>
  <p class="style5 mb-2">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  </p>
  <p class="style6 mb-2">Contact Info</p>
  <div class="contact">
    <span class="style7"
      >Email:
      <a href="mailto:" class="style8">BM00000@Speedo Transfer .com</a>
    </span>
  </div>
  <p class="style9 mb-2">phone:000</p>
  <hr
    style="border-top: 1px solid hsla(212, 23%, 84%, 0.3); padding-bottom: 1rem"
  />
  <p class="style10">ll Rights Reserved for Speedo Transfer ©2024</p>
</div>
