* {
  background-color: #e3e2e2 !important;
  border-color: #e3e2e2 !important;
}

.mat-dialog-title,
.mat-dialog-content,
.mat-dialog-actions {
  border: none;
  padding: 0;
}

.dialog-title {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.alert-image {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.alert-text {
  font-size: 20px;
  font-weight: 600;
}

.dialog-message {
  font-size: 14px;
  line-height: 1.5;
}
