* {
  padding: 0;
  margin: 0;
}
html,
body {
  margin: 0 !important ;
  padding: 0 !important;
  overflow-x: hidden !important;
}

.container {
  position: relative;

  background-color: hsla(348, 29%, 93%, 1);
  margin-left: 0 !important;
}

.container {
  margin: 0 !important;
  padding: 0 !important;
}

.footer {
  margin: 0 !important;
  padding: 0 !important;
}

.app-my-account {
  flex: 1;
}
