<app-navbar class="nav-home font-[600]">
  <div class="flex">
    <li class="item2 text-[#24221E] border-[#24221E]">
      <a href="/login">Login </a>
    </li>
    <li class="item2 text-[#FFFFFF] border-[#871E35] bg-[#871E35]">
      <a routerLink="/register">Register Now</a>
    </li>
  </div></app-navbar
>

<div class="background-image absolute top-20">
  <div class="overlay"></div>
  <div class="overlay-content">
    <p class="fw-medium">Simple. Quick. Secure.</p>

    <h1 class="fw-medium fs-1">Send Money</h1>
    <br />
    <h1 class="fw-medium fs-1">Anywhere, Instantly</h1>

    <p class="fw-medium">Fast, secure, and affordable international money</p>

    <p class="fw-medium">transfers. Get started in minutes</p>
    <button class="btn btn-sm mt-5" routerLink="/register" id="createaccount">
      Create An Account
    </button>
  </div>

  <div class="card-overlay">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">
          <app-country-dropdown></app-country-dropdown>
        </h5>

        <br />
      </div>
    </div>
  </div>
</div>
<div class="pt-[150px]">
  <p
    style="
      color: hsla(347, 64%, 32%, 1);

      font-size: 15px;
      font-weight: 600;
      line-height: 30px;
      text-align: center;
    "
  >
    Getting Started
  </p>
</div>
<div style="padding: 0px, 11.94px, 0px, 11.94px" id="lorem">
  <p>Lorem Ipsum is simply dummy</p>
  <br />
  <p>text of the printing.</p>
</div>
<div class="container text-center pt-4 pb-5">
  <div class="row">
    <div class="col">
      <div
        class="ml-36"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          width: 100px;
          height: 100px;
          background-color: hsla(348, 29%, 93%, 1);
        "
      >
        <img
          class="ml-3"
          src="/assets/Create_Account.svg"
          alt="
          create account"
        />
      </div>
      <h3 style="font-size: 20px; font-weight: 500; line-height: 36px">
        <span
          style="
            color: hsla(347, 64%, 32%, 1);
            font-weight: 600;
            line-height: 36px;
            font-size: 20px;
          "
          >1.</span
        >Create Account
      </h3>
      <p>
        Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
        auctor ut nam sed.
      </p>
    </div>
    <div class="col">
      <div
        class="ml-36"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          width: 100px;
          height: 100px;
          background-color: hsla(348, 29%, 93%, 1);
        "
      >
        <img
          src="/assets/Confirmation.svg"
          alt="
          create account"
        />
      </div>

      <h3 style="font-size: 20px; font-weight: 500; line-height: 36px">
        <span
          style="
            color: hsla(347, 64%, 32%, 1);
            font-weight: 600;
            line-height: 36px;
            font-size: 20px;
          "
          >2.</span
        >confirmation
      </h3>
      <p>
        Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
        auctor ut nam sed.
      </p>
    </div>

    <div class="col">
      <div class="col">
        <div
          class="ml-36"
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            background-color: hsla(348, 29%, 93%, 1);
          "
        >
          <img
            class="ml-3"
            src="/assets/Payment.svg"
            alt="
          create account"
          />
        </div>

        <h3 style="font-size: 20px; font-weight: 500; line-height: 36px">
          <span
            style="
              color: hsla(347, 64%, 32%, 1);
              font-weight: 600;
              line-height: 36px;
              font-size: 20px;
            "
            >3.</span
          >Payement
        </h3>
        <p>
          Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
          auctor ut nam sed.
        </p>
      </div>
    </div>
  </div>
</div>

<app-footer class="home-footer"></app-footer>
